In [3]:
import pandas as pd
df = pd.read_excel("Data/vendedores.xlsx", index_col=False)
dfString = df.to_string()

In [5]:
df

,Nome do Vendedor,Data da Ultima Venda,Valor da Venda,% de Desconto Aplicado,% de Juros Aplicado
0,Ana Silva,2023-09-05,1500,0.100,0.050
1,Ana Silva,2023-09-22,1750,0.050,0.020
2,Ana Silva,2023-10-10,2000,0.150,0.000
3,Ana Silva,2023-10-25,2200,0.075,0.030
4,Ana Silva,2023-11-05,1800,0.050,0.030
5,Ana Silva,2023-11-20,1900,0.120,0.025
6,Carlos Souza,2023-09-15,2500,0.200,0.070
7,Carlos Souza,2023-09-28,2650,0.100,0.030
8,Carlos Souza,2023-10-15,2700,0.100,0.020
9,Carlos Souza,2023-10-29,2850,0.080,0.015
10,Carlos Souza,2023-11-12,3000,0.250,0.000
11,Carlos Souza,2023-11-25,3200,0.180,0.040
12,Fernanda Lima,2023-09-10,3500,0.050,0.000
13,Fernanda Lima,2023-09-20,3600,0.120,0.045
14,Fernanda Lima,2023-10-05,4000,0.150,0.050
15,Fernanda Lima,2023-10-21,4100,0.100,0.035
16,Fernanda Lima,2023-11-08,3700,0.100,0.030
17,Fernanda Lima,2023-11-27,3800,0.070,0.020
18,João Martins,2023-09-12,1800,0.060,0.020
19,João Martins,2023-09-30,1900,0.080,0.025
20,João Martins,2023-10-11,1950,0.050,0.010
21,João Martins,2023-10-23,2100,0.065,0.030
22,João Martins,2023-11-02,2250,0.100,0.020
23,João Martins,2023-11-18,2350,0.120,0.015